@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Racing+Sans+One&family=Righteous&family=Yellowtail&display=swap');
/*Variables*/
:root {
  --bg-color: #ffffff;
  --text-color: #172317;
  --second-color: #4EAD4C;
  --container-color: #1a1e21;

  --primary: #90dd6f;
  --navbar-height: 60px;
  --background: #261E5A;
  --primary-hover: #42603d;

  --Primary-text: 'Luckiest Guy', cursive;
  --Secundary-text: 'Racing Sans One', sans-serif;
  --Experimental-text: 'Righteous', sans-serif;
  --Experimetaly-text: 'Yellowtail', cursive;
}

::selection {
  color: var(--bg-color);
  background: var(--second-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Header */
header {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  margin: 0 auto;
  position: fixed;
}

header.shadow {
  transition: 0.3s;
  background-color: rgb(203, 163, 127);
  box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
}

header.shadow .titulo {
  color: var(--text-color);
}

.nav {
  display: flex;
  padding: 35px 0;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin: 0 15px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  color: var(--bg-color);
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
/* Video */
video {
  width: 600px;
  /* height: 500px; */
  position: absolute;
  left: 42rem;
  top: 10rem;
  z-index: 3;
}
/*  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;*/

/**/
.titulo {
  top: auto;
  left: 46px;
  width: 10rem;
  font-size: 2rem;
  position: relative;
  letter-spacing: 3.5px;
  color: var(--bg-color);
  font-family: var(--Experimental-text);
}

.menu__wrapper {
  z-index: 2;
  display: flex;
  position: relative;
  flex-direction: row;
}



.menu__bar {
  gap: 32px;
  height: 2px;
  width: 100%;
  opacity: 0.9;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: row;
  padding-right: 24px;
  justify-content: space-between;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  height: 32px;
  width: 32px;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 30px;
  padding-right: 4rem;
  font-family: var(--Experimental-text);
  position: relative;
  top: auto;
}

.logo {
  margin-left: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.navigation>li {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}

.navigation>li>a {
  color: var(--bg-color);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(to right,
      var(--primary-hover),
      var(--primary-hover) 50%,
      var(--bg-color) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 3px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

.navigation>li>a:before {
  content: '';
  background: var(--primary-hover);
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.navigation>li>a:hover {
  background-position: 0;
}

.navigation>li>a:hover::before {
  width: 100%;
}

@media (min-width: 600px) {
  .menu-icon {
    display: none;
  }
}
/*main*/
main {
  display: flex;
  position: relative;
  width: 100%;
  margin: auto auto;
  column-gap: 3rem;

}
/** Inicio imagen principal **/

.main-section {
  position: relative;
  background-color: #A80715;
  text-align: center;
}
.boton-initial{
  background-color: rgb(216, 102, 153);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: monospace;
}

.boton-initial:hover {
  background-color: rgb(209, 21, 103);
}
.main-image {
  position: relative;
  display: inline-block;
}

.main-image img {
  width: 84.3rem;
  height: 100vh;
  object-fit: cover;
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 4;
}

.text-overlay h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  font-family: var(--Experimental-text);
}

.text-overlay p {
  top: -1rem;
  font-size: 34px;
  font-family: var(--Experimental-text);
  position: relative;
}

.text-overlay p.ptext{
  font-size: 15px;
  top: -10px;
}
/** Fin imagen principal **/
/** Inico SVG **/
.svg {
  z-index: 3;
  position: absolute;
  top: 22.6rem;
  left: -1rem;
}
/*
.svg2 {
  left: -1rem;
  top: 51.7rem;
  z-index: 3;
  position: absolute;
  transform: rotate(180deg);
}*/
/** Fin svg **/
/****************************/
.section2 {
  position: relative;
  background-color: #A80715;
  height: 20rem;
  align-items: center;
}

.text-title {
  text-align: center;
  z-index: 4;
  position: relative;
  background: #A80715;
}

.text-title h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #e9e9e9;
  margin: 0;
  font-family: var(--Secundary-text);
  top: -2rem;
  position: relative;
}

.text-title p {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  top: -2.7rem;
  position: relative;
  font-family: var(--Secundary-text);
}


@keyframes scroll {
0% {
    transform: translateX(0);
}

100% {
    transform: translateX(calc(-250px * 7));
}
}

.slider {
position: relative;
background: #A80715;
height: 15rem;
margin: auto;
overflow: hidden;
width: 100%;
}

.slider::before,
.slider::after {
background: linear-gradient(to right, #A80715 0%, rgba(255, 255, 255, 0) 100%);
content: "";
height: 12rem;
position: absolute;
width: 200px;
z-index: 2;
}

.slider::after {
right: 0; 
top: 0;
transform: rotateZ(180deg);
}

.slider::before {
left: 0; 
top: 0;
}

.slider .slide-track {
animation: scroll 40s linear infinite;
animation-direction: normal;
display: flex;
width: calc(250px * 14);
}

.slider .slide {
box-sizing: border-box;
cursor: pointer;
height: 150px;
transition: transform 0.5s ease-in-out;
width: 250px;
}

.slide img {
margin: 0 auto;
width: 11rem;
height: 12rem;
}

.product-info {
position: relative;
display: inline-block;
}

.product-name {
position: absolute;
background-color:  rgb(209, 21, 103);
color: #fff;
padding: 8px 12px;
border-radius: 15px;
top: -2rem;
left: 50%;
transform: translateX(-50%);
z-index: 2;
font-weight: bold;
font-size: 16px;
display: none;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
transition: all 0.2s;
position: relative;
text-align: center;
font-family: cursive;
opacity: 0.8;
}

.product-name::before {
content: "";
position: absolute;
border: 10px solid transparent;
border-bottom-color: rgb(209, 21, 103);
top: -20px;
left: 50%;
transform: translateX(-50%);
opacity: 0.8;
}

.product-info:hover .product-name {
display: block;
}

/** Fin Slider productos **/
/*section3*/
.opinions-section {
  background-image: url(bowl.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px;
}

.section-title {
  bottom: -5rem;
  /* font-size: 24px; */
  color: var(--bg-color);
  font-size: xx-large;
  font-family: fantasy;
  text-align: center;
  position: relative;
  width: 21rem;
  font-family: var(--Experimental-text);
}

.opinions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.opinion-card {
  opacity: 90%;
  width: 300px;
  background-color: var(--bg-color);
  border-radius: 23px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.opinion-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.client-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.client-name {
  font-size: 18px;
}

.opinion-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  font-family: var(--Experimental-text);
}

/* Estilos para la secci칩n de Contacto */
.contact-section {
  padding: 40px;
  background-image: url(WC.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact-section p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--bg-color);
  font-size: xx-large;
  font-family: var(--Experimental-text);
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #F6FAFF;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 120px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: var(--bg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.contact-section .form-group label {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 5px 0;
}

.contact-section .form-group input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 0 10px;
}


/* Estilos para el footer */
footer {
  background: #0E1219;
  color: var(--bg-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  bottom: 0px;
}

.footer-top-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  margin: 0 auto;
  padding: 16px;
  min-height: 160px;
}

.footer-top-wrapper>section {
  width: 180px;
}

h2 {
  text-align: left;
  color: #d2d0e6;
  margin-top: 0px;
  margin-bottom: 16px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 600;

}

menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

menu li {
  margin-bottom: 16px;
}

.logo {
  width: 100px;
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 180px;
}

.social-links img {
  width: 24px;
  height: 24px;
}

.footer-top {
  max-width: 800px;
}

.footer-bottom {
  height: 60px;
  margin-top: 48px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1f1b3d;
  padding: 4px;
}

.footer-bottom>small {
  font-size: 16px;
  margin: 0 4px;
}

/****************************************/
.section4{
  height: 22rem;
  background-color: #A80715;
}

.section4 h3 {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: xx-large;
  font-family: var(--Experimental-text);
  top: 1rem;
}


details {
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  background: #F6FAFF;
  border-radius: 8px;
  position: relative;
  max-width: 600px;
  border: 1px solid #C3DEFF;
  transition: all 0.3s ease-in-out;
}

details:hover {
  border: 1px solid #A4A1FF;
}

summary {
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  list-style: none;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

summary:hover .faq-title {
  opacity: 1;
}

summary::-webkit-details-marker {
  display: none;
}

summary:focus {
  outline: none;
}

summary:hover .expand-icon {
  opacity: 1;
}

.faq-title {
  color: #1C2035;
  width: 90%;
  opacity: 0.65;
  transition: all 250ms ease-in-out;
}

.faq-container {
  background-color: #A80715;
  display: flex;
  flex-direction: row;
  gap: 16px;
  position: relative;
  padding-bottom: 20px;
  flex-wrap: wrap;
  height: 13rem;
  top: 3rem;
}

.expand-icon {
  opacity: 0.65;
}

.expand-icon {
  pointer-events: none;
  position: absolute;
  right: 1em;
  transition: all 150ms ease-out;
}
/*****************************/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: var(--bg-color);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: var(--bg-color);
}

.my-float {
  margin-top: 16px;
}

/*media*/
@media screen and (min-width: 48rem) {
  main {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
  }

  .bg,
  .bg2 {
    opacity: 0.1;
  }
}

@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}


/* Media Query para pantallas con ancho m치ximo de 720px */

@media screen and (max-width: 768px) {
  main>div h1 {
    left: 2rem;
    top: -17rem;
    /* height: 5rem; */
    width: 20rem;
    text-align: center;
    font-size: 3rem;
  }

  main>div hr {
    left: 2rem;
    top: -18rem;
    width: 21rem;
  }

  main>div p {
    left: 2rem;
    /* height: 6rem; */
    width: 21rem;
    font-size: .8rem;
    top: -18rem;
    text-align: center;
  }

  main>div a {
    left: 3rem;
    top: -18rem;
  }

  video {
    width: 23rem;
    left: 1rem;
    top: -1rem;
  }

  .section2 {
    height: 97rem;
  }

  .social-links {
    top: 1rem;
  }

  .logo {
    top: 1rem;
  }

  .contact-section p {
    font-weight: 600;
  }

  .section4 h3 {
    font-weight: 600;
  }

  .section-title {
    top: 0rem;
    font-weight: 600;
  }

  .section_titulo p {
    font-weight: 600;
  }

  .navigation {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .navigation--mobile {
    top: var(--navbar-height);
    position: absolute;
    display: flex;
    padding: 80px 60px;
    min-height: 100%;
    background-color: var(--background);
    align-items: flex-start;
    opacity: 0.95;
    animation: fadein 0.3s forwards;
    flex-direction: column;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }

    100% {
      opacity: 1;
      width: 100%;
      height: calc(100vh - var(--navbar-height));
    }
  }

  .navigation--mobile--fadeout {
    animation: fadeout 300ms forwards;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
      width: 100%;
      height: calc(100vh - var(--navbar-height));
    }

    100% {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .navigation>li>a {
    font-size: 30px;
  }

  .navigation>li>a:before {
    content: '';
    background: var(--primary-hover);
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
  }

  .footer-top-wrapper {
    display: flex;
    justify-content: center;
  }
}


/**/

/** Inicio de la nueva Secci칩n **/
.svg2 {
  top: -9.8rem;
  position: relative;
  transform: rotate(180deg);
}

.malteadas {
  background-color: rgb(255, 255, 255);
  height: 33rem;
}

.contendor1 {
  width: 258px;
  height: 354px;
  border-radius: 20px;
  background: #DDD;
  top: 67rem;
  position: absolute;
  left: 6rem;
  box-shadow: 10px 5px 10px #505050;
}
.svg4 {
  position: relative;
  top: 4rem;
  left: 4rem;
}
.imagen {
  width: 15rem;
  height: 15rem;
  position: relative;
  top: -9rem;
  left: 7px;
}
.figura {
  width: 117px;
  height: 3px;
  background-color: red;
  top: -5rem;
  left: 4rem;
  position: relative;
}
.Texto-Mal {
  left: 4rem;
  color: #000;
  font-family: Merge One;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 8rem;
  text-align: center;
  position: relative;
  top: -9rem;
}

.contendor2 {
  width: 258px;
  height: 354px;
  border-radius: 20px;
  background: #DDD;
  top: 67rem;
  position: absolute;
  left: 25rem;
  box-shadow: 10px 5px 10px #505050;
}
.contendor3 {
  width: 258px;
  height: 354px;
  border-radius: 20px;
  background: #DDD;
  top: 67rem;
  position: absolute;
  left: 44rem;
  box-shadow: 10px 5px 10px #505050;
}
.contendor4 {
  width: 258px;
  height: 354px;
  border-radius: 20px;
  background: #DDD;
  top: 67rem;
  position: absolute;
  left: 63rem;
  box-shadow: 10px 5px 10px #505050;
}
.textos {
  position: relative;
  top: -35rem;
  left: 4rem;
  width: 30rem;
}
.textos h1 {
  font-size: 51px;
  font-family: var(--Experimental-text);
  color: white;
  width: 31rem;
}
.textos p {
  font-size: 2rem;
  font-family: var(--Experimental-text);
  position: relative;
  left: 2rem;
  color: white;
  width: 27rem;
}
/** Fin de la nueva Secci칩n **/